:root {
  --vp-c-brand-1: #d47d36;
  --vp-c-brand-2: #d47d36;
  --vp-button-brand-bg: #d48a36;
}

.gradient-title {
  background: linear-gradient(90deg, #d36442, #e49944);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

html:not(.dark) .DocSearch-Button {
  background-color: #e6ebec !important;
}

html.dark .DocSearch-Button {
  background-color: rgb(18, 18, 19) !important;
}